* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to top,
    #2c3f58,
    #2e2e41,
    #261f2a,
    #191317,
    #000000
  );
}
header {
  border-bottom: 2px solid orange;
}
.container {
  width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  padding: 0 20px;
}
.fa-camera {
  font-weight: 900;
  color: orange;
  font-size: 25px;
}
h2 {
  font-family: "Croissant One", cursive;
  color: aliceblue;
}
.search {
  position: relative;
  width: 350px;
}
.fa-magnifying-glass {
  position: absolute;
  font-weight: 900;
  color: black;
  font-size: 15px;
  right: 5%;
  top: 30%;
  cursor: pointer;
}
.fa-magnifying-glass:hover {
  color: orange;
}
#input {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid #dddddd;
}
#input::-webkit-search-cancel-button {
  position: relative;
  right: 30px;
  /* -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: red; */
}
#input:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
  box-shadow: rgba(222, 140, 8, 0.84) 0px 3px 8px;
}
.boxImg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 40px;
  color: wheat;
}
.cover {
  width: 350px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.textErr {
  margin: 170px;
  color: grey;
  font-size: 40px;
  width: 80%;
  height: 30%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  cursor: pointer;
}
footer {
  padding: 10px;
  background: orange;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-data {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logoRss {
  width: 135px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/rs_school_js.svg);
  transition: 0.3s;
}
.Mygithub,
.year {
  text-decoration: none;
  font-size: 25px;
  padding: 0 20px;
  transition: 0.3s;
  color: #000000;
  font-family: monospace;
}
.Mygithub:hover {
  cursor: pointer;
  color: #f22c04e3;
}
.logoRss:hover {
  filter: invert(75%) drop-shadow(16px 16px 20px #f22c04e3);
  /* drop-shadow(16px 16px 20px #f22c04e3); */
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cover {
    width: 90%;
  }
}
